.appointment form {
  display: flex;
  flex-direction: column;
}

.wrapperAppointment {
  display: flex;
  flex-wrap: wrap;
}

.appointment input {
  font: inherit;
  background-color: transparent;
  border: 2px solid #000000;
  width: 165px;
  height: 43px;
  margin-right: 23px;
}

.appointment button {
  margin-top: 20px;
  width: 353px;
  height: 44px;
}
