.header {
  padding-top: 29px;
  padding-bottom: 29px;
  background-color: #000000;
  font-size: 19px;
}

.header ul {
  list-style: none;
}

.header img {
  width: 25px;
  height: 25px;
}

.header button {
  margin-right: 50px;
}

.headerNav {
  display: flex;
  justify-content: space-between;
}

.headerNav:nth-child(2) {
  justify-content: flex-end;
}

.headerNav ul {
  display: flex;
}

.headerNav li {
  margin: 0 40px;
}

.wrapperLink {
  margin-top: 1px;
}

.headerNav a {
  text-decoration: none;
}

.wpapperRegister {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrapperRegister li {
  margin: 0 5px;
}
