.news {
  padding-top: 56px;
  padding-bottom: 82px;
  background-color: #ffffff;
  background-image: url("../imag/price.jpg");
  background-repeat: repeat;
  color: #000000;
}

.news h2 {
  font-size: 30px;
}

.news img {
  width: 10px;
  height: 10px;
  margin-right: 15px;
  margin-left: 15px;
}

.news button {
  color: #000000;
  margin-bottom: 3px;
}

.news ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 31px;
}

.news a {
  text-decoration: none;
}

.newsContent {
  display: flex;
}

.cardNews {
  width: 80%;
}
